h1 {
  color: white;
  font-family: 'Bangers', cursive;
  text-shadow: 10px 10px #ff0000;
  font-size: 9em;
  margin: 10px auto;
}

h2, h3, h4 {
  color: black;
  font-family: 'Bangers', cursive;
}

body {
  text-align: center;
  background-image: url('../assets/greenfelt.jpg');
  background-size: cover;
}

section {
  height: 980px;
  width: 880px;
  margin: 0 auto;
  /*display:inline-block;*/
}

#board {
  height: 720px;
  width: 720px;
  background-image: url('../assets/9x9board.jpg');
  background-size: cover;
  display: inline-block;
  float: left;
}

.base {
  height: 80px;
  width: 720px;
  margin: 0 auto;
  display: block;
  clear: left;
}

.playable {
  height: 80px;
  width: 80px;
  display: inline-block;
  float: left;
  text-align: center;
}

aside {
  background-color: #ff0000;
}

#information {
  width:160px;
  height: 720px;
  display: inline-block;
  float:left;
}

#smallScreen {
  display: none;
}

#left, #right, #middle {
  display: inline-block;
  height: 150px;
  width: 159px;
  float: left;
  background-color: #ff0000;
}

.row {
  height: 80px;
}

.black {
  background-image: url('../assets/black.png');
  background-size: cover;
}

.white {
  background-image: url('../assets/white.png');
  background-size: cover;
}

.taken {
  background-image: url('../assets/prisonbars.png');
  background-size: cover;
  z-index: 1;
}

#displayTurn {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

#blackCaught, #whiteCaught {
  font-family: 'Bangers', cursive;
  font-size: 4em;
}

@media screen and (max-width: 980px) {

  section {
    height: 700px;
    width: 700px;
    margin: 0 auto;
  }
  #board {
    height: 477px;
    width: 477px;
    background-image: url('https://www.britgo.org/files/pubs/9x9board.jpg');
    background-size: cover;
    display: inline-block;
    float: left;
  }

  .base {
    height: 53px;
    width: 477px;
    margin: 0 auto;
    display: block;
    clear: left;
  }

  .playable {
    height: 53px;
    width: 53px;
    display: inline-block;
    float: left;
    text-align: center;
  }

  #information {
    width:200px;
    height: 477px;
    display: block;
    background-color: #ff0000;
    float:left;
  }

  .row {
    height: 67px;
  }

  h2, h3, h4 {
    color: black;
    font-family: 'Bangers', cursive;
    font-size: 1em;
  }

  #smallScreen {
    display: none;
  }

}

@media screen and (max-width: 700px) {

  section {
    height: 680px;
    width: 480px;
    margin: 0 auto;
  }
  #board {
    height: 477px;
    width: 477px;
    background-image: url('https://www.britgo.org/files/pubs/9x9board.jpg');
    background-size: cover;
    display: inline-block;
    float: left;
    margin: 0 auto;
  }

  .base {
    height: 53px;
    width: 477px;
    margin: 0 auto;
    display: block;
    clear: left;
  }

  .playable {
    height: 53px;
    width: 53px;
    display: inline-block;
    float: left;
    text-align: center;
  }

  #information {
    display: none;
  }

  .row {
    height: 53px;
  }

  h2, h3, h4, h5 {
    color: black;
    font-family: 'Bangers', cursive;
    font-size: 1em;
    display: inline-block;
  }

  h1 {
    color: white;
    font-family: 'Bangers', cursive;
    text-shadow: 10px 10px #ff0000;
    font-size: 5em;
    margin: 5px auto;
  }

  #smallScreen {
    display: block;
    width: 477px;
    height: 200px;
  }

}

@media screen and (max-width: 480px) {

  section {
    height: 667px;
    width: 375px;
    margin: 0 auto;
  }
  #board {
    height: 369px;
    width: 369px;
    background-image: url('https://www.britgo.org/files/pubs/9x9board.jpg');
    background-size: cover;
    display: inline-block;
    float: left;
  }

  .base {
    height: 41px;
    width: 369px;
    margin: 0 auto;
    display: block;
    clear: left;
  }

  .playable {
    height: 41px;
    width: 41px;
    display: inline-block;
    float: left;
    text-align: center;
  }

  #information {
    display: none;
  }

  .row {
    height: 41px;
  }

  h2, h3, h4, h5 {
    color: black;
    font-family: 'Bangers', cursive;
    font-size: .7em;
    display: inline-block;
  }

  h1 {
    color: white;
    font-family: 'Bangers', cursive;
    text-shadow: 10px 10px #ff0000;
    font-size: 5em;
    margin: 5px auto;
  }

  #smallScreen {
    display: block;
    width: 369px;
    height: 200px;
  }

  #left, #right, #middle {
    display: inline-block;
    height: 150px;
    width: 123px;
    float: left;
    background-color: #ff0000;
  }
}
