h1 {
  color: white;
}

body {
  background-color: gray;
  text-align: center;
  background-image: url('../assets/greenfelt.jpg');
  background-size: cover;
}

#board {
  height: 900px;
  width: 900px;
  margin: 0 auto;
  background-image: url('https://www.britgo.org/files/pubs/9x9board.jpg');
  background-size: cover;
}

.base {
  height: 100px;
  width: 908px;
  margin: 0 auto;
  display: block;
  clear: left;
}

.playable {
  height: 100px;
  width: 100px;
  display: inline-block;
  float: left;
  /*background-color: yellow;*/
  text-align: center;
  font-size: 90px;
}

.column1,.column2, .column3, .column4, .column5, .column6, .column7, .column8 {
  /*border-right: 1px solid red;*/
}

#row1,#row2,#row3,#row4,#row5,#row6,#row7,#row8 {
  /*border-bottom: 1px solid red;*/
}

aside {
  width:200px;
  height: 908px;
  display: inline;
  float: right;
}

.row {
  height: 100px;
}

.black {
  /*height: 50px;
  width: 50px;
  border-radius: 100%;*/
  background-image: url('../assets/black.png');
  background-size: cover;
}

.white {
  /*height: 50px;
  width: 50px;
  border-radius: 100%;*/
  background-image: url('../assets/white.png');
  background-size: cover;
}

.taken {
  background-image: url('../assets/prisonbars.png');
  background-size: cover;
  z-index: 1;
}
